*{
    font-family: "Poppins", sans-serif;
}
.logowidth{
    width: 350px;
    height: 70px;
}
.imagewidth{
    width: 100%;
    height: 500px;
}

.section2-textcenter{
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    color: #ffffff;
    font-size: 100px;
    padding-left: 20px;
}
.background1{
    background-image: url(admission-banner.jpg);
    height: 500px;
    width: 100%;
}
.color-class{
    color:  #112c4f;
    font-size: 60px;
    font-weight: 700;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.bg_header{
    background-color: #112c4f;
}
.bg_header .navbar-nav .nav-link.active, .bg_header .nav-link{
    color: #ffffff;
}
.section3-text-align1 {
    text-align: left;
    font-size:  16px;
    font-weight: 600;
}
.section3-text-align2 {
    text-align: left;
    font-size:  24px;
    font-weight: 300;
}
.section3-button{
    color:white; 
    background-color: #991b1e !important;
}
.section4-font-size h2{
    font-size: 128px;
    font-weight: 400;
    text-align:center;
    display: flex;
    justify-content: center;
    color: #991b1e;;
}
.section4-font-size p{
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    display: flex;
    justify-content: center;
}
.section5-text ul li {
    color: black;
    text-decoration: none;
    list-style: none;
    
}
.section5-text ul li  a{
    color: black;
    text-decoration: none;
    list-style: none;
    
}
.section5-text ul  {
    color: black;
    text-decoration: none;
    list-style: none;
    
}
.ucp-program-box  h3{
    color:black;
    text-decoration: none;
    list-style: none;
}
.ucp-program-box  a{
    text-decoration: none;
    list-style: none;
}
.img-sec img{
width:100% ;
}
.border-rigth-section6 .col-4 {
    border-right: 3px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
}
.border-rigth-section6 .col-4:nth-child(3n) {
    border-right: none;
}

.section7-background-image{
background-image: url(campus-tour-bg-img.jpg);
background-size: cover;
position: relative;
}

.section7-background-image::before{
    content: "";
    position: absolute;
    background-color: #112c4f;
    opacity: .6;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    }
.section3-button{
    padding:15px 45px !important;
    font-size: 25px !important;
}
.section7-pading h2{
    /* margin-top: 20px; */
    padding: 130px;
    font-size: 80px;
    color: #ffffff;
     z-index: 9;
     position: relative;
     max-width: 1200px;
}

.col-md-12 h3{
    font-size: 40px;
}
.col-4 h3{
    font-size: 28px;
}
.col-4 p{
    font-size: 16px;
}

@media only screen and (max-width:1024px){
    .section7-pading h2 {
        /* margin-top: 20px; */
        padding: 130px 0;
        font-size: 67px;
        color: #ffffff;
        z-index: 9;
        position: relative;
        max-width: 907px;
    }
    .section3-button {
        padding: 15px 41px !important;
        font-size: 23px !important;
    }  
    .color-class {
        color: #112c4f;
        font-size: 60px;
        font-weight: 700;
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 40px;
        margin-bottom: 40px;
    }
}

@media only screen and (max-width:992px)  {
    .changefont.color-class{
        font-size:35px;
    }
}
@media only screen and (max-width:991px)  {
    .bordercolor.navbar-toggler{
        background-color: #ffffff;
    }   
    .background1{
        background-size: cover;
    }
    .carousel-item h2{
        font-size: 80px;
    }
}
@media only screen and (max-width:769px){
    .background1{
        background-size: cover;
    }
    .carousel-item h2{
        font-size: 50px;
    }

    #carouselExampleSlidesOnly .carousel-item img{
        height: 100%;
    }
    #carouselExampleSlidesOnly .carousel-item{
        height: 250px;
        
    }
    .logowidth{
        height: 66px;
        width: 252px;
    }
    .class-button-size-manege{
        padding:12px 27px !important;
            font-size: 18px !important;
            margin-left: 40px !important;
            color:white !important; 
            background-color: #991b1e !important;
    }
    .section4-font-size h2 {
        margin-top: 30px;
        font-size: 91px;
        font-weight: 400;
        text-align: center;
        display: flex;
        justify-content: center;
        color: #991b1e;
    }
    .section7-pading h2 {
        padding: 130px;
        font-size: 41px;
        color: #ffffff;
        z-index: 9;
        position: relative;
        max-width: 1200px;
    }
}
@media only screen and (max-width:600px){
    .background1{
        background-size: cover;
    }
    .carousel-item h2{
        font-size: 50px;
    }

    #carouselExampleSlidesOnly .carousel-item img{
        height: 100%;
    }
    #carouselExampleSlidesOnly .carousel-item{
        height: 250px;
        
    }
}
@media only screen and (max-width:425px)  {
    .class-size-font h2{
        font-size :35px;
        font-weight: 800
    }
    .class-button-size-manege{
        padding: 12px 35px !important;
            font-size: 18px !important;
            margin-left: 40px !important;
            color:white !important; 
            background-color: #991b1e !important;
    }
    .section7-pading h2{
        font-size: 15px !important;
    }
 .size-font-manage img{ 
        font-size: 20px !important;
        font-weight: 400;
        height: 35px;     
    }
    .font-program-manger h3{
        font-size: 18px !important;
       }
    .font-program-manger a{
     font-size: 10px !important;
    }
}

@media only screen and (max-width:375px)  {
    .changefont.color-class{
        font-size:35px;
    }
    .class-size-font h2{
        font-size :35px;
        font-weight: 800
    }
    .class-button-size-manege{
        padding: 12px 35px !important;
            font-size: 18px !important;
            margin-left: 40px !important;
            color:white !important; 
            background-color: #991b1e !important;
    }
    .section7-pading h2{
        font-size: 15px !important;
    }
 .size-font-manage img{ 
        font-size: 20px !important;
        font-weight: 400;
        height: 35px;     
    }
    .font-program-manger h3{
        font-size: 18px !important;
       }
    .font-program-manger a{
     font-size: 10px !important;
    }
    .font-program-manger h5{
        font-size: 55px !important;
       }
       .font-program-manger p{
        font-size: 9px !important;
       }
       .center-future h2{
        font-size: 25px;
        padding: 20px;
        margin: 20px;
       }
}